<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <!-- TODO: Meta Data -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mobi</title>

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-material-design/dist/css/ripples.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="HomeController">

  <nav id="main-nav" class="navbar navbar-main navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">Mobi</div>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown">
              LEARN
              <b class="caret"></b>
              <div class="ripple-container"></div>
            </a>

            <ul class="dropdown-menu">
              <li><a href="#">Resources</a></li>
              <li class="divider"></li>
              <li><a href="https://github.com/idappthat/MavYaks" target="_blank">MavYaks</a></li>
              <li><a href="https://github.com/idappthat/AndroidCrashCourse-Note-Todo" target="_blank">Notes/Todo App</a></li>
            </ul>
          </li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Pictures</a></li>
          <li><a href="#" class="btn btn-raised btn-special">Member Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="jumbotron main-cover">
      <div class="logo-header"></div>
      <div class="cover-links">
        <a href="#mobi" class="btn btn-raised btn-info">What's Mobi?</a>
        <a href="#register" class="btn btn-raised btn-info">How to Join</a>
      </div>
  </section>

  <section>
    <a name="mobi"></a>
    <feature-box title="Android" image="core/feature_android_bg.jpg" icon="icons/feature_android.png" color="rgba(164,198,57,0.8)"></feature-box>
    <feature-box title="iOS" image="core/feature_ios_bg.jpg" icon="icons/feature_ios.png" color="rgba(71,162,227,0.8)"></feature-box>
    <feature-box title="Web" image="core/feature_web_bg.jpg" icon="icons/feature_web.png" color="rgba(231,76,60,0.7)"></feature-box>
  </section>

  <section class="container-fluid">
    <div class="col-md-12">
      <h3>What's Mobi?</h3>
      <p>Mobi is a student organization that aims to engage its members in an active project based learning environment for mobile development while promoting scholastic excellence. We are an organization for developers, run by developers.
      Entrepreneurial thinking is encouraged as Mobi explores the tools that start-ups are using to make the rapid development process possible in such a fast moving world. These objectives aim to harbor creativity and leadership skills in our members.</p>
      <p>Students will be able to apply their knowledge in Programming, Algorithms, Databases, OS, Mobile Systems, Networks, Electrical Engineering, Mechanical Engineering, and Industrial and Graphical Design to their own projects that involve mobile development and product development.</p>
    </div>
  </section>

  <section class="team">
    <div class="team-box" ng-repeat="member in team" style="{{member.style}}">
      <img class="img-circle" ng-src="images/{{member.image}}" alt="{{member.name}}">
      <div class="team-name">{{member.name}}</div>
      <div class="team-title">{{member.title}}</div>
    </div>
  </section>

  <section class="container-fluid text-center pad">
    <div class="col-md-6">
      <h3>Mobi LEARN</h3>
      <p>LEARN is Mobi's mobile app workshop program where anyone with any skill set can participate and learn how mobile apps are made! No matter what your skill level, you'll be able to take something away from each LEARN meeting that you can use in developing any mobile app. iOS, Android, and web development are are three ventures and you can choose whichever interests you. This year, we will be putting a huge emphasis on building native apps! (Android and iOS).</p>
    </div>

    <div class="col-md-6">
      <h3>Social Coding</h3>
      <p>Social Coding is for the slightly more advanced members but is open to anyone. This is generally after the LEARN meetings where we discuss app ideas to plan and build. Each task is broken down and assigned to each member ever week with various difficulties and categories so someone with no programming experience can join along. You can view a few of our projects at the bottom of this email.</p>

      <a href="#" class="btn btn-raised btn-primary">Mobi Projects</a>
    </div>
  </section>

  <section class="container-fluid pad" style="background: #FBFBFB">
    <a name="register"></a>
    <form class="col-md-8 col-md-offset-2" id="register-form" name="emailForm" ng-submit="submitEmailForm()" novalidate>
      <h3 class="text-center">Register for MOBI Learn &amp; Email List</h3>

      <div class="col-md-6">
        <div class="form-group label-floating" ng-class="{ 'has-error' : emailForm.firstName.$invalid && !emailForm.firstName.$pristine }">
          <label class="control-label" for="firstName">First name</label>
          <input type="text" id="firstName" class="form-control" ng-model="emailForm.firstName" required>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group label-floating" ng-class="{ 'has-error' : emailForm.lastName.$invalid && !emailForm.lastName.$pristine }">
          <label class="control-label" for="lastName">Last name</label>
          <input type="text" id="lastName" class="form-control" ng-model="emailForm.lastName" required>
        </div>
      </div>
    
      <div class="col-md-6">
        <div class="form-group label-floating" ng-class="{ 'has-error' : emailForm.email.$invalid && !emailForm.email.$pristine }">
          <label class="control-label" for="email">Email</label>
          <input type="email" id="email" class="form-control" ng-model="emailForm.email" required>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="form-group label-floating" ng-class="{ 'has-error' : emailForm.mavsNumber.$invalid && !emailForm.mavsNumber.$pristine }">
          <label class="control-label" for="mavsNumber">Mav's 1000 #</label>
          <input type="number" id="mavsNumber" class="form-control" ng-model="emailForm.mavsNumber" required>
        </div>
      </div>

      <div class="col-md-12">
        <input type="submit" value="Register" class="btn btn-raised btn-primary btn-block" ng-disabled="emailForm.$invalid">
      </div>

    </form>
  </section>

  <section class="container-fluid map-bg pad">
    <div class="col-md-4 col-sm-6 map-content pad-s">
      <h4>Every Friday @ ERB 103</h4>
      <div><strong>Mobi LEARN:</strong> 5pm - 6pm</div>
      <div><strong>Social Coding:</strong> 6:15pm - Whenever</div>
      <a href="https://www.google.com/maps/dir//32.7334689,-97.1135293/@32.7335084,-97.1137224,19z" target="_blank" class="btn btn-holo btn-block marg-top">Open in Maps</a>
    </div>
  </section>

    
  <footer class="footer-main container-fluid">
    <div class="col-md-11">
      Mobi Copyright &copy; 2016
      <br>
      <a class="btn btn-raised btn-primary" href="mailto:uta.mobi@gmail.com"><i class="material-icons">email</i> uta.mobi@gmail.com</a>

    </div>
    <div class="col-md-1 text-right">
      <div class="logo-footer"></div>
    </div>
  </footer>

  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>

  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

  <script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
  <script type="text/javascript" src="bower_components/angularfire/dist/angularfire.min.js"></script>

  <script type="text/javascript" src="js/script.js"></script>

  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
  <script type="text/javascript" src="js/directives.js"></script>
</body>
</html>
