body {
  font-family: 'Avenir'
}

.btn-special {
  background: #5A90B7;
  color: #fff;
  border-radius: 3px;
}

.btn-special:hover {
  background: #4D7C9D;
}

.btn-holo {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 2px;
}

.marg-top {
  margin-top: 15px;
}

.pad {
  padding: 25px;
}

.pad-s {
  padding: 15px;
}

.no-pad { padding: 0;  }

#register-form .form-group {
  margin-bottom: 15px;

}

.footer-main {
  color: #fff;
  background: #333;
}

.map-bg {
  position: relative;
  background-image: url('https://api.mapbox.com/v4/mapbox.streets/pin-s-rocket+5A90B7(-97.113505,32.733358)/-97.113505,32.733458,14/1200x200@2x.png?access_token=pk.eyJ1IjoidXRhLW1vYmkiLCJhIjoiY2lrcWlhbDI1MDIyNXUwbTdic2V2YmswdyJ9.kr8yWDrGt6r1RUrBvp13DA');
  background-position: center center;
}

.map-content {
  border-radius: 3px;
  background: rgba(0,0,0,0.5);
  color: #fff;
}

.map-right {
  padding: 20px;
  text-align: center;
}

.map-right img {
  border-radius: 2px;
  margin-bottom: 20px;
}

/* Navbar */

#main-nav {
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  transition: all 0.25s ease-in;
}

#main-nav a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  margin: 5px 5px 0 0;
}

#main-nav a:hover {
  background: transparent;
}

#main-nav.navbar-trans {
  background: rgba(0,0,0,0);
}

.navbar a {
  color: #5A90B7;
}

.navbar a.btn-special {
  color: #fff;
}

#main-nav.navbar-trans .navbar-brand, #main-nav.navbar-trans a {
  color: #fff;
}

.navbar-brand {
  font-size: 32px;
}

/* Cover */
.main-cover {
  background: url('../images/core/cover_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  text-align: center;
}

.cover-links {
  margin: 30px 0;
}

.cover-links a {
  color: #fff;
  font-size: 32px;
  margin: 0 30px;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 15px;
}

.cover-links a:hover {
  text-decoration: none;
  border-color: #DADADA;
}

/* Team */
section.team {
  padding: 25px;
  text-align: center;
  background: url(../images/core/team_bg.jpg) no-repeat no-repeat;
  background-size: cover;
}

.team-box {
  display: inline-block;
  text-align: center;
  padding: 20px 6.5%;
}

.team-name {
  margin-top: 5px;
  font-size: 17px;
  font-weight: bold;
}

.team-title {
  color: #858585;
  font-size: 12px;
}

/* Feature box */
.feature-box-wrapper { 
  padding: 0; 
  background-position: center;  
  background-size: 100% auto;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.feature-box {
  text-align: center;
  color: #fff;
  padding: 25px 0 25px 0;
}

.feature-box-wrapper:hover {
  background-size: 120% auto;
}