<style>
  body{ 
    background: #EEE; 
    position: relative;
  }
  
  form { 
    position: absolute;
    top: 50%;
    transform: translateY(50%);}
</style>


<form class="col-md-4 col-md-offset-4 panel panel-default">
  <h1 class="text-center">Forgot Password?</h1>
  <p class="text-muted text-center">Your new password will be emailed to you</p>

  <div class="form-group label-floating">
    <label class="control-label" for="email">Email</label>
    <input class="form-control" id="email" type="email">
  </div>
  </div>

  <input type="submit" value="Reset" class="btn btn-primary btn-raised btn-block">
  <a ui-sref="login" class="btn btn-default btn-block">Nevermind, I got it..</a>

</form>